asgiref==3.9.2
attrs==25.3.0
decorator==5.2.1
Django==5.2.6
django-cors-headers==4.9.0
django-filter==25.2
django-jazzmin==3.0.1
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-extra-fields==3.7.0
drf-spectacular==0.28.0
drf-yasg==1.21.11
filetype==1.2.0
imageio==2.37.0
imageio-ffmpeg==0.6.0
inflection==0.5.1
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
moviepy==2.2.1
numpy==2.3.4
packaging==25.0
pillow==11.3.0
proglog==0.1.12
psycopg2-binary==2.9.11
PyJWT==2.10.1
python-dotenv==1.1.1
pytz==2025.2
PyYAML==6.0.3
referencing==0.36.2
rest-framework-simplejwt==0.0.2
rpds-py==0.27.1
sqlparse==0.5.3
tqdm==4.67.1
uritemplate==4.2.0
